# Ignore build artifacts and IDE files
Test/**/bin/
Test/**/obj/
Test/**/output/
Test/
.vscode/

# Ignore Python executable files
__pycache__/
.pytest_cache/

# Ignore Linux executable files
Sol

# Ignore Windows executable files
*.exe
*.o
*.out